* {
    margin: 0 !important;
    padding: 0 ;
    box-sizing: border-box !important;
}
.logo {
    width: 10rem;
}
.forma {
    padding: 2rem;
    font-size: 2rem;
    max-width: 98vw;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bot {
    margin-left: 17rem;
    width: 8rem;
    background-color: rgb(99, 96, 96);
}
.buscar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#lit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70vw;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#foto {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: 15rem;
}
footer {
    background-color: rgb(246, 242, 242);
    height: 12vh;
    display: flex;
}
.social {
    width: 2rem;
    height: 2rem;
}
.text{
    width: 80vw;
    text-align: end;
    align-self: center;
    font-size: 1.7rem;
}
.red {
    width: 90vw;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
}
.table {
    height: 50v;
    width: 40vw;
    font-size: 0.9rem;
}
.table-responsive {
    height: 50v;
    width: 40vw;
    border-collapse: collapse;
    empty-cells: hide;
}

thead th {
    border: 0.2rem solid rgb(21, 20, 20);
    font-size: 1.5rem;
    padding: 0.3rem;
    color: #3e3d3d;
}

.table,
thead,
tbody,
th,
td {
    border: solid 0.3rem rgb(10, 10, 10);
    color: #4c4a4b; 
}
.card:hover {
    font-weight: bold;
    font-style: oblique;
    transform:scale(1.1);
}
#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tarjetaDetalles {
    display: flex;
    justify-content: center;
    color: crimson;

}
h5 {
    font-size: 2rem;
}
.card-img-top {
    padding: 1rem;
    width: 12rem;
    height: 12rem;
}
#boton1 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    align-items: baseline;
}
#textoParrafo {
    min-height: 6rem;
}
.myCategory {
    display: flex;
    padding: 2rem;
    font-size: 1.2rem;
}
section {
    display: flex;
    flex-wrap: wrap;
} 
.not{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:crimson;
    font-size: 5rem;
    width: 80rem;
}

@media only screen and (min-width: 319px) and (max-width: 768px) {
    .d-flex, .m-5, .gap-4 {
        display: flex;
        flex-wrap: wrap;
        
    }
    .first {
    min-width: 17rem;
    }
    #boton {
        width: 14rem;
    }
    /* .res {
        /* display: none; } */
    .red {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 40vh;
    }
    .text {
        text-align: center;
        
    }
    footer {
        min-height: 44vh;
        min-width: 17rem;
    }
    #navMove {
        display: flex;
        justify-content: center;

    }

}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    
    #boton {
        width: 30rem;

    
}